.redirect
{
    text-decoration: none;
    text-align: center;
    margin: 25px 0;
    padding-left: 200px;
}

.redirect a
{
    text-decoration: none;
    border: 2px solid black;
    background-color: #88BA6F;
    padding: 5px;
    color: white;
    transition: 0.5s;
}

.redirect a:hover
{
    text-decoration: none;
    border: 2px solid black;
    background-color: #2D4B29;
    padding: 5px;
    transition: 0.5s;
    color: #7BA865;
}

th span
{
    text-decoration: line-through;
}

th img
{
    max-width: 200px;
    max-height: 170px;
    transition: 10s;
    padding: 0 25px;
}

th img:hover
{
    transform: rotate(360);
}

content table
{
    margin-left: auto;
    margin-right: auto;
}
footer
{
    margin-top: 25px;
    display: block;
    bottom: 0;
    padding-left: 200px;
}

footer p
{
    text-align: center;
}

footer img
{
    max-width: 100px;
}

footer h3
{
    text-align: center;
    font-size: 24px;
    color: #E30047;
    line-height: 0;
}

#logo h3
{
    text-align: center;
    font-size: 24px;
    color: #E30047;
    line-height: 0;
}

.center
{
    margin: 0px auto;
    display: block;
}

body
{
    background-color: <white;
    font-family: 'Electrolize';
    margin: 0;
}
#p_promo
{
    overflow: hidden;
}

#nav
{
    margin-left: -40px;
}

#page
{
    width: 100%;
    position: relative;
}
#stock
{
    color: green;
}
#lpanier
{
    width: 15px;
}

#note span
{
    color: yellow;
}
content
{
    background-color: #787878;
    display: block;
    padding: 10px 0 10px 200px;
    text-align: center;
}
#desc
{
    background-color: #E7E3E3;
    display: block;
    padding: 10px 0 10px 200px;
    text-align: center;
}
#prix
{
    color: #E30047;
}
#navbar
{
    position: fixed;
    height: 100%;
    left: 0;
    width: 200px;
    background-color : #D7D7D7;
    content: "";
    top: 0;
    z-index: 1;
    border-right: 2px solid #00A6AD;
}

#logo img
{
    max-width: 180px;
}

#logo
{
    margin-top: 20px;
}

#menu nav
{
    list-style-type: none;
}

#menu li:last-child
{
    border: none;
}

#menu li:hover
{
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}
#menu li
{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    text-align: center;
    list-style-type: none;
    line-height: 40px;
    transition: 0.5s;
}

#menu li a
{
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 2s;
}

#menu li a:hover
{
    text-decoration: underline;
    transition: 2s;
}

#menu h3
{
    text-align: center;
}



#search h3
{
    text-align: center;
}

#search
{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#search li:last-child
{
    border: none;
}

#search li:hover
{
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}
#search li
{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    text-align: center;
    list-style-type: none;
    line-height: 40px;
    transition: 0.5s;
}

#search li a
{
    color: black;
    text-align: center;
    text-decoration: none;
}

#noel
{
    background-color: #D3181F;
    display: block;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 200px;
    color: white;
}

#who
{
    padding-top: 20px;
    background-color: #388C3C;
    display: block;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 200px;
    color: white;
}
#who h1
{
    color: #E30047;
}

#logo
{
    max-height: 200px;
    width: auto;
}

#sapin
{
    max-height: 200px;
    width: auto;
}

#produit
{
    border-collapse: collapse;
}

#produit .price
{
   color: #E30047;
   font-weight: bold;
}

#produit #image th
{
    background: white;
    border: 2px solid;
    border-bottom: 1px solid;
    padding: 5px 0 5px 0;
    width: 200px
}

#produit #image th img
{
    width: 70%;
    height: auto;
}

#produit #image .spacer
{
    background: none;
    border: none;
    width: 5px;
}

#produit .nom
{
    background: white;
    border-left: 2px solid;
    border-right: 2px solid;
    padding-top: 5px;
}

#produit tr .acheter
{
    background: white;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}

button
{
    border-radius: 3px;
    background: #E30047;
    border: none;
    padding-bottom: 3px;
    color: white;
    transition: 0.5s;
}

button:hover
{
    background: #B60039;
    transition: 0.5s;
}

#panier
{
    background: whitesmoke;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

#panier img
{
    max-height: 100px;
    width: auto;
}

#panier th
{
    width: 150px;
    border-bottom: 1px solid black;
}

#panier #total
{
    color : #E30047;
}

a:visited
{
    color: inherit;
}