.redirect
{
    text-decoration: none;
    text-align: center;
    margin: 25px 0;
}

.redirect a
{
    text-decoration: none;
    border: 2px solid black;
    background-color: #88BA6F;
    padding: 5px;
    color: white;
    transition: 0.5s;
}

.redirect a:hover
{
    text-decoration: none;
    border: 2px solid black;
    background-color: #2D4B29;
    padding: 5px;
    transition: 0.5s;
    color: #7BA865;
}

th span
{
    text-decoration: line-through;
}

th img
{
    max-width: 200px;
    max-height: 170px;
    transition: 10s;
    padding: 0 25px;
}

content table
{
    margin-left: auto;
    margin-right: auto;
}
footer
{
    margin-top: 25px;
    display: block;
    bottom: 0;
    width: 100%;
}

footer p
{
    text-align: center;
}

footer img
{
    max-width: 100px;
}

footer h3
{
    text-align: center;
    font-size: 24px;
    color: #E30047;
    line-height: 0;
}
.center
{
    margin: 0px auto;
    display: block;
}

body
{
    overflow: hidden;
    background-color: <white;
    font-family: 'Electrolize';
    margin: 0;
}

content
{
    background-color: #b8b8b8;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}